$body-color: #CCC;
$text-align-center: center;
$hover-color: #B40404;
$link-color: #B40404;

@import "table";

body {
    background-color: $body-color;
}
nav {
    text-align: $text-align-center;
}
nav{
    ul{
        li{
            display: inline-block;
        }

        a.nav-link {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.1em;
            margin: 10px;
            letter-spacing: 1px;
            color: $link-color;
        }

        a.nav-link:hover {
            color: black;
            text-decoration: underline $hover-color;
        }
    }
}
h1
{
    text-transform: uppercase;
}
h2 {
    @extend h1;
    letter-spacing: 1px;
    color: #582022
}
#footer{
    clear: both;
    position: relative;
    z-index: 10;
    padding: 20px;
    text-align: $text-align-center;
}
span.furniture_error
{
    display: block;
}
.add-form-label
{
    width: 50px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
}

.add-form-input{
    display: inline-block;
    font-size: 14px;
    width: 200px;
    height: 4%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #a0b3b0;
    color: #000;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus {
    outline: 0;
    border-color: #9821c4;
}

.welcome-msg{
    text-align: center;
}

.hidden
{
    display: none;
}

.mutiple-input
{
    display: block;
}

.info
{
    font-size: 13px;
    position: relative;
    left: 100px;
    top: 0px;
}
